.row
  .col-12
    .form-group
      = form.input :name

  .col-12.col-sm-4
    .form-group
      = form.input :attack_base_points

  .col-12.col-sm-4
    .form-group
      = form.input :defense_base_points

  .col-12.col-sm-4
    .form-group
      = form.input :health_base_points
