%section.jumbotron.text-center
  .container
    %h1.jumbotron-heading= t('shared.header.welcome')
    %h1.jumbotron-heading.logo
      %i.fas.fa-vials
    %p.lead.text-muted= t('home.intro')
    %p
      = link_to t('shared.nav.verbose.fighters'), '#', class: 'btn btn-primary my-2'
